Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict

InlayHints:
  Enabled: No

CompileFlags:
  Add:
    - --cuda-path=C://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.5
    - -LC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.5//lib
    - -IC://Program Files//NVIDIA GPU Computing Toolkit//CUDA//v12.5//include
    - --cuda-gpu-arch=sm_52
  Remove:
    - --generate-code*
    - -forward-unknown-to-host-compiler
    - -rdc=*
    - -Xcompiler*
